
*.mp4

Algorithms' Complexity/email.txt

Business And Tech/Aula11/mvp/prototype

Algorithms' Complexity/Trabalho1/trabalho1_sem_o_mp4.zip

Algorithms' Complexity/Trabalho1/trabalho1.zip

Virtual and Augmented Reality/Aula01/Snowman/UNITY_SNOWMAN/Library/PackageCache/com.unity.collab-proxy\@1.7.1/Editor/PlasticSCM/Views/IncomingChanges/Developer/DirectoryConflicts/DrawDirectoryResolutionPanel.cs.meta

Virtual and Augmented Reality/Aula01/Snowman/UNITY_SNOWMAN/Library/PackageCache/com.unity.ide.visualstudio\@2.0.9/Editor/AppleEventIntegration~/AppleEventIntegration.xcodeproj/project.xcworkspace/contents.xcworkspacedata

Virtual and Augmented Reality/Aula02/Unity1008/Library/PackageCache/com.unity.ide.visualstudio\@2.0.9/Editor/AppleEventIntegration~/AppleEventIntegration.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

Virtual and Augmented Reality/Somativa1/Library/PackageCache/com.unity.ide.visualstudio\@2.0.9/Editor/AppleEventIntegration~/AppleEventIntegration.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

Virtual and Augmented Reality/Somativa1/Library/PackageCache/com.unity.ide.visualstudio\@2.0.9/Editor/AppleEventIntegration~/AppleEventIntegration.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

Virtual and Augmented Reality/TDE_Toonshader/TOONSHADER/Library/PackageCache/com.unity.ide.visualstudio\@2.0.9/Editor/AppleEventIntegration~/AppleEventIntegration.xcodeproj/project.xcworkspace/contents.xcworkspacedata
