#b_chits_options{
	position: absolute;
	top: 25%;
	width: 100%;
	display: inline-block;
	text-align: center;
	background: rgb(71,94,110);
	background: linear-gradient(0deg, rgba(71,94,110,0.7346288857339811) 0%, rgba(40,52,60,0.9026961126247374) 16%, rgba(31,40,46,0.9783263647255778) 19%, rgba(20,25,28,0.9475140397956058) 81%, rgba(40,52,60,0.8382703423166141) 83%, rgba(71,94,110,0.8970938717283788) 96%);
}


#b_chits_options button{

	border-radius: 20%;
	height: 50px;
	padding-left: 15px;
	border-color: transparent;
	background-color: #0CAE62;
	cursor: pointer;
}



#b_chits_options #b_my_chits{

}

#b_chits_options #b_cmd_mgmt{
	
}

#b_chits_options #b_create_chit{
	
}

#pending_chits{
	position: relative;
	margin-top:  15%;
	margin-left: 2%;
}

#pending_chits table {
  border-collapse: collapse;
}

#pending_chits table{
	border: 1px solid white;
}
#pending_chits th{
	border: 1px solid white;
}

#pending_chits td{
	border: 1px solid white;
}

#pending_chits tr:nth-child(odd){
	background-color: lightgray;
}

#pending_chits tr:nth-child(even){
	background-color: white;
}

#pending_chits #header{
	background-color: gray;
	align-self: center;
	color: white;
	font-size: 20px;
}

#pending_chits #title{
	color: white;
	font-size: 40px;
	font-family: Arial;

}

#pending_chits p{
	font-size: 16px;
	font-family: sans-serif;
}

#pending_chits td{
	border-bottom: 1px solid #000000;
}





#completed_chits{
	position: relative;
	margin-left: 2%;
}

#completed_chits table {
  border-collapse: collapse;
}

#completed_chits table{
	border: 1px solid white;
}
#completed_chits th{
	border: 1px solid white;
}

#completed_chits td{
	border: 1px solid white;
}

#completed_chits tr:nth-child(odd){
	background-color: lightgray;
}

#completed_chits tr:nth-child(even){
	background-color: white;
}

#completed_chits #header{
	background-color: gray;
	align-self: center;
	color: white;
	font-size: 20px;
}

#completed_chits #title{
	color: white;
	font-size: 40px;
	font-family: Arial;

}

#completed_chits p{
	font-size: 16px;
	font-family: sans-serif;
}

#completed_chits td{
	border-bottom: 1px solid #000000;
}
